body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 3%;
    color: #495057;
}

#section1 {
    height: 100vh;
}

/* Nav Bar related codes are here */
nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    margin-right: 30px;
    font-size: 18px;
    transition: transform 0.3s;
}

nav a:hover {
    /* Write what happens when you hover over a nav item */
    color: #34A1CD;
}

#contact {
    text-align: center;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 15px;
    background-color: black;
    color: white;
    margin: 0px;
}

/* General */
.round-button {
    font-size: 1.2rem;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    color: white;
    padding-top: 10;
    padding-bottom: 10;
    padding-left: 20;
    padding-right: 20;
    transition: transform 0.3s ease-in-out;
}

.about-me-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-image {
    max-width: 100%;
    border-radius: 50%;
}

h1 {
    color: #343a40;
}

p {
    font-size: 18px;
    line-height: 1.6;
}


/* ************************************************************************************************************************************** */

/* STYLE CLASSES */

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}